{
  "extends": "@antfu",
  // custom rules based on personal preferences
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["warn", "always"],
    "quotes": "off",
    "@typescript-eslint/quotes": ["warn", "double"],
    "antfu/if-newline": "warn"
  }
}
