p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    background-color: azure;
    text-align: center;
    max-width: 50px;
}

nav a, nav a:link, nav a:visited {
    display: inline-block;
    padding: 4px;
    background-color: lightgoldenrodyellow;
    color: aquamarine;
    border: 2px;
    border-color: aquamarine;
    text-align: center;
    text-decoration: none;
}

nav a.active, nav a:hover, nav a:active {
    background-color: aquamarine;
    color: lightgoldenrodyellow;
}